@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-effect {
  background-color: rgba(255, 255, 255, 0.9);
}

@support s (
     
  (-we  bkit-backdrop-filter: bl,ur(10px)) or (backdrop-filter: blur(10px))
   ) {
  .glass-effect {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(10px);
  }
}

/* html {
  scroll-snap-type: y proximity;
} */

svg {
  display: block;
  max-width: 75%;
  max-height: 75%;
}

@media only screen and (max-width: 768px) {
  svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.MenuBtn > svg {
  width: 30px;
  height: 30px;
}

.HomeVector svg {
  width: auto;
  max-width: none;
  min-width: 100vw;
  max-height: 100%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 1024px) {
  .HomeVector svg {
    width: auto;
    height: calc(100vh - 160px);
    max-width: none;
    min-width: 100vw;
    max-height: 100%;
  }
}
